

#container { 
    display: grid; 
    grid-template-areas: "header header header"
                        "nav nav nav" 
                        "main main aside" 
                        "footer footer footer";

    grid-gap: 1rem;

    grid-template-columns: auto auto 20%; 
    grid-template-rows: auto auto auto auto; 
    background-color: white;

    max-width: 1100px;
    margin: 0 auto;
}


@media (max-width: 780px) {
    #container {
        grid-template-areas:
          'header'
          "nav"
          'main'
          'aside'
          'footer';
          grid-template-columns: auto; 
          grid-template-rows: auto auto auto auto auto; 
      
      }
}


.o-header { 
    grid-area: header; 
    background-color: white;
    text-align: center;
} 

.o-aside { 
    grid-area: aside; 
    background-color: white;
    text-align: center;
} 

.o-aside a  {
    display: block;
}

.o-nav {
    grid-area: nav;
}

.o-main { 
    grid-area: main; 
    background-color: white;
    padding: 2em;
    
} 

.o-footer { 
    grid-area: footer; 
    background-color: #444444;
    color: white;
    padding: 2em;
}


body {

    background-color: #eaeaea;
   
}

.o-main p {
    font-family:  'Open Sans', serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
}



/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #000;
    /* If you want the navigation bar to stick on top
    position: sticky;
    top: 0;
    */
    height:auto;
  }
  
  /* Hide Hamburger */
  #page-nav label, #hamburger {
    display: none;
  }
  
  /* Menu Items */
  #page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 

  }
  #page-nav ul li {
    display: inline-block;
    padding: 0px;
    vertical-align:  baseline;
    margin: 0;
    
  }
  #page-nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0;
  }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 780px){
    /* Show Hamburger */
    #page-nav label {
      display: inline-block;
      color: #fff;
      background: #289dcc;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #page-nav ul li {
      display: block;
    }

  
    #page-nav ul li {
      border-top: 1px solid #333;
    }

  
    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
      display: none;
    }
    #page-nav input:checked ~ ul {
      display: block;
    }
  }

  
  nav li a:hover:not(.active) {
    background-color:#289dcc ;
    display: block;
  }

  nav li a.active {
    background-color:#289dcc ;
    color: white;
  }


  /* pagina docente */

  .docente {
 
    display:block;
    
  }


  #foto-docente { 
    padding: 0.5em;
    float:left;
    width: 20%;
  }

  #desc-docente { 
    padding: 0.5em;
    float:left;
    width: 70%;
  }

  #corpo-docente {
    width: 100%;
  }










  